In [56]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\91932\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\91932\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [57]:
import pyspark

In [58]:
from pyspark.sql import SparkSession

In [59]:
spark = (SparkSession
 .builder
 .appName("data_analyse")
 .getOrCreate())

In [60]:
spark

In [61]:
ipl_matches=spark.read.option('header','true').csv("C:/Users/91932/Downloads/ipl_dataset_2/ipl_matches.csv")

In [62]:
ipl_matches.show()

+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
|match_id|      date|player_of_match|venue_id|neutral_venue|               team1|               team2|         toss_winner|toss_decision|              winner| result|result_margin|eliminator|method|    umpire1|       umpire2|
+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
|  335982|2008-04-18|    BB McCullum|      35|            0|Royal Challengers...|Kolkata Knight Ri...|Royal Challengers...|        field|Kolkata Knight Ri...|   runs|          140|         N|    NA|  Asad Rauf|   RE Koertzen|
|  335983|2008-04-19|     MEK Hussey|      31|            0|     Kings XI Punjab| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|           33|         N|    NA|  MR Benson|    SL Shastri|
|  335984|2008-04-19|    MF Maharoof|      27|            0|    Delhi Daredevils|    Rajasthan Royals|    Rajasthan Royals|          bat|    Delhi Daredevils|wickets|            9|         N|    NA|  Aleem Dar|GA Pratapkumar|
|  335985|2008-04-20|     MV Boucher|      14|            0|      Mumbai Indians|Royal Challengers...|      Mumbai Indians|          bat|Royal Challengers...|wickets|            5|         N|    NA|   SJ Davis|     DJ Harper|
|  335986|2008-04-20|      DJ Hussey|      15|            0|Kolkata Knight Ri...|     Deccan Chargers|     Deccan Chargers|          bat|Kolkata Knight Ri...|wickets|            5|         N|    NA|  BF Bowden|   K Hariharan|
|  335987|2008-04-21|      SR Watson|      20|            0|    Rajasthan Royals|     Kings XI Punjab|     Kings XI Punjab|          bat|    Rajasthan Royals|wickets|            6|         N|    NA|  Aleem Dar|     RB Tiffin|
|  335988|2008-04-22|       V Sehwag|      22|            0|     Deccan Chargers|    Delhi Daredevils|     Deccan Chargers|          bat|    Delhi Daredevils|wickets|            9|         N|    NA|  IL Howell|     AM Saheba|
|  335989|2008-04-23|      ML Hayden|      29|            0| Chennai Super Kings|      Mumbai Indians|      Mumbai Indians|        field| Chennai Super Kings|   runs|            6|         N|    NA|  DJ Harper|GA Pratapkumar|
|  335990|2008-04-24|      YK Pathan|      22|            0|     Deccan Chargers|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|            3|         N|    NA|  Asad Rauf|     MR Benson|
|  335991|2008-04-25|  KC Sangakkara|      31|            0|     Kings XI Punjab|      Mumbai Indians|      Mumbai Indians|        field|     Kings XI Punjab|   runs|           66|         N|    NA|  Aleem Dar|     AM Saheba|
|  335992|2008-04-26|      SR Watson|      35|            0|Royal Challengers...|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|            7|         N|    NA|  MR Benson|     IL Howell|
|  335993|2008-04-26|       JDP Oram|      29|            0| Chennai Super Kings|Kolkata Knight Ri...|Kolkata Knight Ri...|          bat| Chennai Super Kings|wickets|            9|         N|    NA|  BF Bowden|AV Jayaprakash|
|  335994|2008-04-27|   AC Gilchrist|      13|            0|      Mumbai Indians|     Deccan Chargers|     Deccan Chargers|        field|     Deccan Chargers|wickets|           10|         N|    NA|  Asad Rauf|    SL Shastri|
|  335995|2008-04-27|      SM Katich|      31|            0|     Kings XI Punjab|    Delhi Daredevils|    Delhi Daredevils|          bat|     Kings XI Punjab|wickets|            4|         N|    NA|RE Koertzen|     I Shivram|
|  335996|2008-04-28|       MS Dhoni|      35|            0|Royal Challengers...| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|           13|         N|    NA|BR Doctrove|     RB Tiffin|
|  335997|2008-04-29|  ST Jayasuriya|      15|            0|Kolkata Knight Ri...|      Mumbai Indians|Kolkata Knight Ri...|          bat|      Mumbai Indians|wickets|            7|         N|    NA|  BF Bowden|AV Jayaprakash|
|  335998|2008-04-30|     GD McGrath|      27|            0|    Delhi Daredevils|Royal Challengers...|Royal Challengers...|        field|    Delhi Daredevils|   runs|           10|         N|    NA|  Aleem Dar|     I Shivram|
|  335999|2008-05-01|       SE Marsh|      22|            0|     Deccan Chargers|     Kings XI Punjab|     Kings XI Punjab|        field|     Kings XI Punjab|wickets|            7|         N|    NA|BR Doctrove|     RB Tiffin|
|  336000|2008-05-01|    SA Asnodkar|      20|            0|    Rajasthan Royals|Kolkata Knight Ri...|    Rajasthan Royals|          bat|    Rajasthan Royals|   runs|           45|         N|    NA|RE Koertzen|GA Pratapkumar|
|  336001|2008-05-02|       V Sehwag|      29|            0| Chennai Super Kings|    Delhi Daredevils| Chennai Super Kings|          bat|    Delhi Daredevils|wickets|            8|         N|    NA|  BF Bowden|   K Hariharan|
+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
only showing top 20 rows

In [98]:
ipl_matches.printSchema()
from pyspark.sql.types import IntegerType
ipl_ball_by_ball = ipl_ball_by_ball.withColumn("is_wicket", ipl_ball_by_ball["is_wicket"].cast(IntegerType()))
ipl_ball_by_ball= ipl_ball_by_ball.withColumn("batsman_runs", ipl_ball_by_ball["batsman_runs"].cast(IntegerType()))
ipl_ball_by_ball = ipl_ball_by_ball.withColumn("extra_runs", ipl_ball_by_ball["extra_runs"].cast(IntegerType()))
ipl_ball_by_ball= ipl_ball_by_ball.withColumn("total_runs", ipl_ball_by_ball["total_runs"].cast(IntegerType()))

ipl_ball_by_ball.printSchema()

root
 |-- match_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- player_of_match: string (nullable = true)
 |-- venue_id: string (nullable = true)
 |-- neutral_venue: string (nullable = true)
 |-- team1: string (nullable = true)
 |-- team2: string (nullable = true)
 |-- toss_winner: string (nullable = true)
 |-- toss_decision: string (nullable = true)
 |-- winner: string (nullable = true)
 |-- result: string (nullable = true)
 |-- result_margin: string (nullable = true)
 |-- eliminator: string (nullable = true)
 |-- method: string (nullable = true)
 |-- umpire1: string (nullable = true)
 |-- umpire2: string (nullable = true)

root
 |-- match_id: string (nullable = true)
 |-- inning: string (nullable = true)
 |-- overs: string (nullable = true)
 |-- ball: string (nullable = true)
 |-- batsman: string (nullable = true)
 |-- non_striker: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- batsman_runs: integer (nullable = true)
 |-- extra_runs: integer (nullable = true)
 |-- total_runs: integer (nullable = true)
 |-- non_boundary: string (nullable = true)
 |-- is_wicket: integer (nullable = true)
 |-- dismissal_kind: string (nullable = true)
 |-- player_dismissed: string (nullable = true)
 |-- fielder: string (nullable = true)
 |-- extras_type: string (nullable = true)
 |-- batting_team: string (nullable = true)
 |-- bowling_team: string (nullable = true)

In [64]:
ipl_venue=spark.read.option('header','true').csv("C:/Users/91932/Downloads/ipl_dataset_2/ipl_venue.csv")
ipl_venue.show()

+--------+--------------------+--------------+
|venue_id|               venue|          city|
+--------+--------------------+--------------+
|       1|Dr. Y.S. Rajasekh...| Visakhapatnam|
|       2|Sharjah Cricket S...|       Sharjah|
|       3|JSCA Internationa...|        Ranchi|
|       4|Saurashtra Cricke...|        Rajkot|
|       5|Shaheed Veer Nara...|        Raipur|
|       6|Maharashtra Crick...|          Pune|
|       7|Subrata Roy Sahar...|          Pune|
|       8|    St George's Park|Port Elizabeth|
|       9|Vidarbha Cricket ...|        Nagpur|
|      12|   Brabourne Stadium|        Mumbai|
|      13|Dr DY Patil Sport...|        Mumbai|
|      14|    Wankhede Stadium|        Mumbai|
|      15|        Eden Gardens|       Kolkata|
|      16|       Nehru Stadium|         Kochi|
|      17|De Beers Diamond ...|     Kimberley|
|      18|          Green Park|        Kanpur|
|      19|New Wanderers Sta...|  Johannesburg|
|      20|Sawai Mansingh St...|        Jaipur|
|      21|Holkar Cricket St...|        Indore|
|      22|Rajiv Gandhi Inte...|     Hyderabad|
+--------+--------------------+--------------+
only showing top 20 rows

In [65]:
ipl_venue.printSchema()

root
 |-- venue_id: string (nullable = true)
 |-- venue: string (nullable = true)
 |-- city: string (nullable = true)

In [66]:
ipl_ball_by_ball=spark.read.option('header','true').csv("C:/Users/91932/Downloads/ipl_ball_by_balls.csv")
ipl_ball_by_ball.show()

+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|match_id|inning|overs|ball|      batsman|  non_striker|      bowler|batsman_runs|extra_runs|total_runs|non_boundary|is_wicket|dismissal_kind|player_dismissed|fielder|extras_type|        batting_team|        bowling_team|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|  419157|     2|   16|   4|      V Kohli|R Vinay Kumar|CRD Fernando|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   5|      V Kohli|R Vinay Kumar|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   6|R Vinay Kumar|      V Kohli|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   1|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   2|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   3|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   4|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   5|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   6|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   1|      V Kohli|R Vinay Kumar|  KA Pollard|           4|         0|         4|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   2|      V Kohli|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|         V Kohli|AP Tare|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   3|R Vinay Kumar| Pankaj Singh|  KA Pollard|           0|         1|         1|           0|        0|            NA|              NA|     NA|      wides|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   4|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   5| Pankaj Singh|R Vinay Kumar|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   6|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   7| Pankaj Singh|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|    Pankaj Singh| Z Khan|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   19|   1|     A Kumble|R Vinay Kumar|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     1|    0|   1|    R McLaren| SR Tendulkar|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   2| SR Tendulkar|    R McLaren|    DW Steyn|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   3| SR Tendulkar|    R McLaren|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
only showing top 20 rows

In [67]:
ipl_ball_by_ball.printSchema()

root
 |-- match_id: string (nullable = true)
 |-- inning: string (nullable = true)
 |-- overs: string (nullable = true)
 |-- ball: string (nullable = true)
 |-- batsman: string (nullable = true)
 |-- non_striker: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- batsman_runs: string (nullable = true)
 |-- extra_runs: string (nullable = true)
 |-- total_runs: string (nullable = true)
 |-- non_boundary: string (nullable = true)
 |-- is_wicket: string (nullable = true)
 |-- dismissal_kind: string (nullable = true)
 |-- player_dismissed: string (nullable = true)
 |-- fielder: string (nullable = true)
 |-- extras_type: string (nullable = true)
 |-- batting_team: string (nullable = true)
 |-- bowling_team: string (nullable = true)

In [75]:
spark.sql('create database iams_data')
spark.sql('use iams_data')
ipl_matches.createOrReplaceTempView("ipl_matches")  # here we make virtual table 
ipl_venue.createOrReplaceTempView("ipl_venue") 
ipl_ball_by_ball.createOrReplaceTempView("ipl_ball_by_ball") 

spark.sql('show tables from default').show()
spark.sql("select * from ipl_matches").show()  # here we successfully make view table

+---------+----------------+-----------+
|namespace|       tableName|isTemporary|
+---------+----------------+-----------+
|         |ipl_ball_by_ball|       true|
|         |     ipl_matches|       true|
|         |       ipl_venue|       true|
+---------+----------------+-----------+

+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
|match_id|      date|player_of_match|venue_id|neutral_venue|               team1|               team2|         toss_winner|toss_decision|              winner| result|result_margin|eliminator|method|    umpire1|       umpire2|
+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
|  335982|2008-04-18|    BB McCullum|      35|            0|Royal Challengers...|Kolkata Knight Ri...|Royal Challengers...|        field|Kolkata Knight Ri...|   runs|          140|         N|    NA|  Asad Rauf|   RE Koertzen|
|  335983|2008-04-19|     MEK Hussey|      31|            0|     Kings XI Punjab| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|           33|         N|    NA|  MR Benson|    SL Shastri|
|  335984|2008-04-19|    MF Maharoof|      27|            0|    Delhi Daredevils|    Rajasthan Royals|    Rajasthan Royals|          bat|    Delhi Daredevils|wickets|            9|         N|    NA|  Aleem Dar|GA Pratapkumar|
|  335985|2008-04-20|     MV Boucher|      14|            0|      Mumbai Indians|Royal Challengers...|      Mumbai Indians|          bat|Royal Challengers...|wickets|            5|         N|    NA|   SJ Davis|     DJ Harper|
|  335986|2008-04-20|      DJ Hussey|      15|            0|Kolkata Knight Ri...|     Deccan Chargers|     Deccan Chargers|          bat|Kolkata Knight Ri...|wickets|            5|         N|    NA|  BF Bowden|   K Hariharan|
|  335987|2008-04-21|      SR Watson|      20|            0|    Rajasthan Royals|     Kings XI Punjab|     Kings XI Punjab|          bat|    Rajasthan Royals|wickets|            6|         N|    NA|  Aleem Dar|     RB Tiffin|
|  335988|2008-04-22|       V Sehwag|      22|            0|     Deccan Chargers|    Delhi Daredevils|     Deccan Chargers|          bat|    Delhi Daredevils|wickets|            9|         N|    NA|  IL Howell|     AM Saheba|
|  335989|2008-04-23|      ML Hayden|      29|            0| Chennai Super Kings|      Mumbai Indians|      Mumbai Indians|        field| Chennai Super Kings|   runs|            6|         N|    NA|  DJ Harper|GA Pratapkumar|
|  335990|2008-04-24|      YK Pathan|      22|            0|     Deccan Chargers|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|            3|         N|    NA|  Asad Rauf|     MR Benson|
|  335991|2008-04-25|  KC Sangakkara|      31|            0|     Kings XI Punjab|      Mumbai Indians|      Mumbai Indians|        field|     Kings XI Punjab|   runs|           66|         N|    NA|  Aleem Dar|     AM Saheba|
|  335992|2008-04-26|      SR Watson|      35|            0|Royal Challengers...|    Rajasthan Royals|    Rajasthan Royals|        field|    Rajasthan Royals|wickets|            7|         N|    NA|  MR Benson|     IL Howell|
|  335993|2008-04-26|       JDP Oram|      29|            0| Chennai Super Kings|Kolkata Knight Ri...|Kolkata Knight Ri...|          bat| Chennai Super Kings|wickets|            9|         N|    NA|  BF Bowden|AV Jayaprakash|
|  335994|2008-04-27|   AC Gilchrist|      13|            0|      Mumbai Indians|     Deccan Chargers|     Deccan Chargers|        field|     Deccan Chargers|wickets|           10|         N|    NA|  Asad Rauf|    SL Shastri|
|  335995|2008-04-27|      SM Katich|      31|            0|     Kings XI Punjab|    Delhi Daredevils|    Delhi Daredevils|          bat|     Kings XI Punjab|wickets|            4|         N|    NA|RE Koertzen|     I Shivram|
|  335996|2008-04-28|       MS Dhoni|      35|            0|Royal Challengers...| Chennai Super Kings| Chennai Super Kings|          bat| Chennai Super Kings|   runs|           13|         N|    NA|BR Doctrove|     RB Tiffin|
|  335997|2008-04-29|  ST Jayasuriya|      15|            0|Kolkata Knight Ri...|      Mumbai Indians|Kolkata Knight Ri...|          bat|      Mumbai Indians|wickets|            7|         N|    NA|  BF Bowden|AV Jayaprakash|
|  335998|2008-04-30|     GD McGrath|      27|            0|    Delhi Daredevils|Royal Challengers...|Royal Challengers...|        field|    Delhi Daredevils|   runs|           10|         N|    NA|  Aleem Dar|     I Shivram|
|  335999|2008-05-01|       SE Marsh|      22|            0|     Deccan Chargers|     Kings XI Punjab|     Kings XI Punjab|        field|     Kings XI Punjab|wickets|            7|         N|    NA|BR Doctrove|     RB Tiffin|
|  336000|2008-05-01|    SA Asnodkar|      20|            0|    Rajasthan Royals|Kolkata Knight Ri...|    Rajasthan Royals|          bat|    Rajasthan Royals|   runs|           45|         N|    NA|RE Koertzen|GA Pratapkumar|
|  336001|2008-05-02|       V Sehwag|      29|            0| Chennai Super Kings|    Delhi Daredevils| Chennai Super Kings|          bat|    Delhi Daredevils|wickets|            8|         N|    NA|  BF Bowden|   K Hariharan|
+--------+----------+---------------+--------+-------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+-------------+----------+------+-----------+--------------+
only showing top 20 rows

In [76]:
spark.catalog.listTables()

[Table(name='ipl_ball_by_ball', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='ipl_matches', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='ipl_venue', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [77]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/C:/Users/91932/Downloads/spark-warehouse'),
 Database(name='iams_data', description='', locationUri='file:/C:/Users/91932/Downloads/spark-warehouse/iams_data.db'),
 Database(name='ipls_data', description='', locationUri='file:/C:/Users/91932/Downloads/spark-warehouse/ipls_data.db')]

In [78]:
ipl_matches.toPandas().isnull().sum()

match_id           0
date               0
player_of_match    0
venue_id           0
neutral_venue      0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
eliminator         0
method             0
umpire1            0
umpire2            0
dtype: int64

In [ ]:
# we can use pyspark functions like filter() , select() so we go with this for analyse the data

In [82]:
from pyspark.sql import functions as F


#Find the top 3 venues which hosted the most number of eliminator matches?
to=ipl_venue.toPandas()
ipl_venue.describe().show()
ipl_venue.select('venue').distinct().show()

spark.sql(
"""
select ipl_venue.venue,count(ipl_venue.venue_id) from  ipl_matches
inner join  ipl_venue on ipl_matches.venue_id=ipl_venue.venue_id
group by ipl_venue.venue
order by 2 desc; """).show(3)  # this top venues which hosted most number of eliminators matches

+-------+------------------+----------------+-------------+
|summary|          venue_id|           venue|         city|
+-------+------------------+----------------+-------------+
|  count|                35|              35|           35|
|   mean|19.542857142857144|            null|         null|
| stddev|11.027620022531814|            null|         null|
|    min|                 1|Barabati Stadium|    Abu Dhabi|
|    max|                 9|Wankhede Stadium|Visakhapatnam|
+-------+------------------+----------------+-------------+

+--------------------+
|               venue|
+--------------------+
|Dubai Internation...|
|Himachal Pradesh ...|
|Sardar Patel Stad...|
|Punjab Cricket As...|
|    Barabati Stadium|
|Punjab Cricket As...|
|       Nehru Stadium|
|Maharashtra Crick...|
|        Eden Gardens|
|     OUTsurance Oval|
|    Feroz Shah Kotla|
|Rajiv Gandhi Inte...|
|   Brabourne Stadium|
|M.Chinnaswamy Sta...|
|Vidarbha Cricket ...|
|          Green Park|
|Holkar Cricket St...|
|Shaheed Veer Nara...|
|Sharjah Cricket S...|
|Sheikh Zayed Stadium|
+--------------------+
only showing top 20 rows

+--------------------+---------------+
|               venue|count(venue_id)|
+--------------------+---------------+
|M.Chinnaswamy Sta...|             80|
|        Eden Gardens|             77|
|    Feroz Shah Kotla|             74|
+--------------------+---------------+
only showing top 3 rows

In [83]:
ipl_matches.select('eliminator').distinct().show()

+----------+
|eliminator|
+----------+
|        NA|
|         Y|
|         N|
+----------+

In [92]:
to['venue'].value_counts()

Sharjah Cricket Stadium                                 1
Kingsmead                                               1
St George's Park                                        1
Green Park                                              1
New Wanderers Stadium                                   1
Sheikh Zayed Stadium                                    1
Subrata Roy Sahara Stadium                              1
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     1
JSCA International Stadium Complex                      1
Shaheed Veer Narayan Singh International Stadium        1
Dr DY Patil Sports Academy                              1
Saurashtra Cricket Association Stadium                  1
M.Chinnaswamy Stadium                                   1
De Beers Diamond Oval                                   1
Brabourne Stadium                                       1
Feroz Shah Kotla                                        1
Sardar Patel Stadium, Motera                            1
Himachal Pradesh Cricket Association Stadium            1
Vidarbha Cricket Association Stadium, Jamtha            1
Punjab Cricket Association IS Bindra Stadium, Mohali    1
MA Chidambaram Stadium, Chepauk                         1
Dubai International Cricket Stadium                     1
Rajiv Gandhi International Stadium, Uppal               1
Holkar Cricket Stadium                                  1
Newlands                                                1
Maharashtra Cricket Association Stadium                 1
SuperSport Park                                         1
Barabati Stadium                                        1
Eden Gardens                                            1
Punjab Cricket Association Stadium, Mohali              1
Buffalo Park                                            1
Wankhede Stadium                                        1
OUTsurance Oval                                         1
Sawai Mansingh Stadium                                  1
Nehru Stadium                                           1
Name: venue, dtype: int64

In [93]:
[[i,ipl_venue.groupby(i).count().orderBy('count',ascending=False).first()[0]] for i in ipl_venue.columns]

[['venue_id', '7'],
 ['venue', 'Dubai International Cricket Stadium'],
 ['city', 'Mumbai']]

In [94]:
ipl_venue.groupBy('venue').count().show(3)

+--------------------+-----+
|               venue|count|
+--------------------+-----+
|Dubai Internation...|    1|
|Himachal Pradesh ...|    1|
|Sardar Patel Stad...|    1|
+--------------------+-----+
only showing top 3 rows

In [95]:
#Return most number of catches taken by a player in IPL history
ipl_ball_by_ball.show()
ipl_ball_by_ball.groupby('dismissal_kind').count().show()
#so in below ypu see 5743 caught taken in history

+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|match_id|inning|overs|ball|      batsman|  non_striker|      bowler|batsman_runs|extra_runs|total_runs|non_boundary|is_wicket|dismissal_kind|player_dismissed|fielder|extras_type|        batting_team|        bowling_team|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
|  419157|     2|   16|   4|      V Kohli|R Vinay Kumar|CRD Fernando|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   5|      V Kohli|R Vinay Kumar|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   16|   6|R Vinay Kumar|      V Kohli|CRD Fernando|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   1|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   2|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   3|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   4|R Vinay Kumar|      V Kohli|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   5|R Vinay Kumar|      V Kohli|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   17|   6|      V Kohli|R Vinay Kumar|   R McLaren|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   1|      V Kohli|R Vinay Kumar|  KA Pollard|           4|         0|         4|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   2|      V Kohli|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|         V Kohli|AP Tare|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   3|R Vinay Kumar| Pankaj Singh|  KA Pollard|           0|         1|         1|           0|        0|            NA|              NA|     NA|      wides|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   4|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   5| Pankaj Singh|R Vinay Kumar|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   6|R Vinay Kumar| Pankaj Singh|  KA Pollard|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   18|   7| Pankaj Singh|R Vinay Kumar|  KA Pollard|           0|         0|         0|           0|        1|        caught|    Pankaj Singh| Z Khan|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     2|   19|   1|     A Kumble|R Vinay Kumar|   R McLaren|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|Royal Challengers...|      Mumbai Indians|
|  419157|     1|    0|   1|    R McLaren| SR Tendulkar|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   2| SR Tendulkar|    R McLaren|    DW Steyn|           0|         0|         0|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
|  419157|     1|    0|   3| SR Tendulkar|    R McLaren|    DW Steyn|           1|         0|         1|           0|        0|            NA|              NA|     NA|         NA|      Mumbai Indians|Royal Challengers...|
+--------+------+-----+----+-------------+-------------+------------+------------+----------+----------+------------+---------+--------------+----------------+-------+-----------+--------------------+--------------------+
only showing top 20 rows

+--------------------+------+
|      dismissal_kind| count|
+--------------------+------+
|             stumped|   294|
|          hit wicket|    12|
|                  NA|183973|
|              bowled|  1700|
|                 lbw|   571|
|   caught and bowled|   269|
|        retired hurt|    11|
|              caught|  5743|
|             run out|   893|
|obstructing the f...|     2|
+--------------------+------+

In [96]:
#Write a query to return a report for highest wicket taker in matches which were affected by
#Duckworth-Lewis’s method (D/L method).

ipl_ball_by_ball.groupby('bowler').count().show()

+---------------+-----+
|         bowler|count|
+---------------+-----+
|  Kuldeep Yadav|  913|
|     TM Dilshan|  275|
|     KA Pollard| 1414|
| M Muralitharan| 1577|
|        J Botha|  709|
|    SS Cottrell|  131|
|       DR Smith|  557|
|       M Manhas|   42|
|     A Flintoff|   66|
|       AR Patel| 2053|
|          B Lee|  916|
|    BMAJ Mendis|   30|
|NM Coulter-Nile|  751|
|       HV Patel|  966|
|     AL Menaria|  113|
|Joginder Sharma|  272|
|      YK Pathan| 1184|
|      RG Sharma|  342|
|        RG More|   37|
|     SK Trivedi| 1557|
+---------------+-----+
only showing top 20 rows

In [99]:
merge=ipl_ball_by_ball.join(ipl_matches,on='match_id')
DL=merge[merge['method']=='D/L']#this is find all matches affected by DL
sum1=DL.groupBy(['match_id','batsman']).sum('batsman_runs')#finding out total runs scored by every batsman in each match effected by DL

In [100]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank
from pyspark.sql.functions import col


window = Window.partitionBy('match_id').orderBy(col('sum(batsman_runs)').desc())
res_4=sum1.withColumn('rank',rank().over(window))
res_4.filter(res_4.rank==1).show()

+--------+------------+-----------------+----+
|match_id|     batsman|sum(batsman_runs)|rank|
+--------+------------+-----------------+----+
| 1082648|   DA Warner|               37|   1|
| 1136566|   AM Rahane|               45|   1|
| 1136578|     CA Lynn|               74|   1|
| 1136592|     RR Pant|               69|   1|
|  336022|    V Sehwag|               51|   1|
|  336025| Salman Butt|               73|   1|
|  392183|    V Sehwag|               38|   1|
|  392183|      K Goel|               38|   1|
|  392186|    CH Gayle|               44|   1|
|  392214|   ML Hayden|               89|   1|
|  501215|    SK Raina|               50|   1|
|  501245| S Badrinath|               54|   1|
|  501255|    CH Gayle|               38|   1|
|  733993|  KD Karthik|               39|   1|
|  829743|   DA Warner|               91|   1|
|  829807|MC Henriques|               57|   1|
|  980943|    S Dhawan|               56|   1|
|  980989|   YK Pathan|               37|   1|
|  980997|   AM Rahane|               42|   1|
|  980999|     V Kohli|              113|   1|
+--------+------------+-----------------+----+

In [134]:
#Write a query to return a report for highest strike rate by a batsman in non powerplay
#overs(7-20 overs)

In [102]:
legal=merge[~merge['extras_type'].isin(['wides', 'noballs']) & (merge['overs'].between(7,20))]#filtering out wides and no balls, and taking  in non powerplay overs(7-20) 
runs = legal.groupBy('batsman').sum('batsman_runs')#finding out total runs by each batsman
ball=legal.groupby('batsman').count()#finding out total balls faced by each batsman
balls=ball.withColumnRenamed("batsman","batsman_1")

In [103]:
joined=balls.join(runs, balls.batsman_1 == runs.batsman, 'inner')#In pandas we could  just do strike_rate=runs*100/balls and we could get strike rate. We can't do same in pyspark , so first I will join the two result set and then find the strike rate
result_4=joined.withColumn("Strike rate", col("sum(batsman_runs)")*100/col("count")).sort('Strike rate',ascending=False)#Dividing the two columns and getting the strike rate the hard way.
result_4.select('batsman','Strike rate').show(10)#Top 10 batsman with highest strike in powerplay

+------------+------------------+
|     batsman|       Strike rate|
+------------+------------------+
|  B Stanlake|             250.0|
|Kamran Akmal|213.88888888888889|
|  ER Dwivedi|211.11111111111111|
|    Umar Gul|205.26315789473685|
| AC Blizzard|             200.0|
|    RS Sodhi|             200.0|
|    W Jaffer|             188.0|
|   DJM Short|187.09677419354838|
|   LJ Wright|             186.0|
|  AD Russell|181.85185185185185|
+------------+------------------+
only showing top 10 rows

In [111]:
#Write a query to return a report for highest extra runs in a venue (stadium, city).
#merge_3=merge.join(ipl_venue,on='venue_id')
#merge_3.show(5)
#merge_3.select('extra_runs').distinct().show()
#extra_runss=merge_3.filter(merge_3.extra_runs>'0')
#extra_runss.groupBy('venue','city').count().sort('count',ascending=False).show(10)

spark.sql(
"""
select first(city),venue,count(venue) from ipl_venue inner join ipl_matches on ipl_venue.venue_id=ipl_matches.venue_id
inner join ipl_ball_by_ball on ipl_ball_by_ball.match_id=ipl_matches.match_id
where extra_runs >0
group by venue
order by count(venue) desc 
""").show()

+-------------+--------------------+------------+
|  first(city)|               venue|count(venue)|
+-------------+--------------------+------------+
|    Bengaluru|M.Chinnaswamy Sta...|        1092|
|       Mumbai|    Wankhede Stadium|        1017|
|      Kolkata|        Eden Gardens|         915|
|        Delhi|    Feroz Shah Kotla|         897|
|    Hyderabad|Rajiv Gandhi Inte...|         740|
|      Chennai|MA Chidambaram St...|         705|
|       Jaipur|Sawai Mansingh St...|         609|
|   Chandigarh|Punjab Cricket As...|         441|
|        Dubai|Dubai Internation...|         392|
|    Abu Dhabi|Sheikh Zayed Stadium|         325|
|         Pune|Maharashtra Crick...|         276|
|       Mumbai|Dr DY Patil Sport...|         246|
|   Chandigarh|Punjab Cricket As...|         227|
|      Sharjah|Sharjah Cricket S...|         222|
|       Durban|           Kingsmead|         205|
|       Mumbai|   Brabourne Stadium|         185|
|         Pune|Subrata Roy Sahar...|         180|
|    Centurion|     SuperSport Park|         169|
|    Ahmedabad|Sardar Patel Stad...|         150|
|Visakhapatnam|Dr. Y.S. Rajasekh...|         135|
+-------------+--------------------+------------+
only showing top 20 rows

In [88]:
#Write a query to return a report for the cricketers with the most number of players of the
#match award in neutral venues.
spark.sql(
"""
select player_of_match,count(player_of_match) from ipl_matches
where neutral_venue = 1
group by player_of_match
order by count(player_of_match) desc 
""").show()

# so here in below you cricketers with the most number of players of the match award

+----------------+----------------------+
| player_of_match|count(player_of_match)|
+----------------+----------------------+
|       JH Kallis|                     3|
|       JP Duminy|                     3|
|       YK Pathan|                     3|
|      GJ Maxwell|                     3|
|        DR Smith|                     2|
|   KC Sangakkara|                     2|
|       MK Pandey|                     2|
|       RG Sharma|                     2|
|  Sandeep Sharma|                     2|
|DPMD Jayawardene|                     2|
|  M Muralitharan|                     2|
|     LRPL Taylor|                     2|
|        SK Raina|                     2|
|    Yuvraj Singh|                     2|
|       ML Hayden|                     2|
|    SR Tendulkar|                     2|
|    AC Gilchrist|                     2|
|  AB de Villiers|                     2|
|      TM Dilshan|                     1|
|           B Lee|                     1|
+----------------+----------------------+
only showing top 20 rows

In [86]:
#Write a query to find out who has officiated (as an umpire) the most number of matches in
#IPL.
spark.sql(
"""
select umpire1,count(umpire1) from ipl_matches
group by umpire1
order by count(umpire1) desc 
""").show()

#this is for umpire1

+--------------------+--------------+
|             umpire1|count(umpire1)|
+--------------------+--------------+
|     HDPK Dharmasena|            78|
|        AK Chaudhary|            56|
|           Asad Rauf|            51|
|           M Erasmus|            40|
|           Aleem Dar|            38|
|              S Ravi|            37|
|           BF Bowden|            37|
|         CB Gaffaney|            34|
|         BR Doctrove|            34|
|KN Ananthapadmana...|            33|
|         AY Dandekar|            28|
|       C Shamshuddin|            22|
|            NJ Llong|            21|
|         Nitin Menon|            20|
|         RE Koertzen|            20|
|         VA Kulkarni|            19|
|            S Asnani|            19|
|           JD Cloete|            16|
|        BNJ Oxenford|            16|
|            YC Barde|            14|
+--------------------+--------------+
only showing top 20 rows

In [112]:
spark.sql(
"""
select umpire2,count(umpire2) from ipl_matches
group by umpire2
order by count(umpire2) desc 
""").show()


# here i upire2 which did umpiring in most matches

+---------------+--------------+
|        umpire2|count(umpire2)|
+---------------+--------------+
|         S Ravi|            84|
|  C Shamshuddin|            60|
|     SJA Taufel|            54|
|      CK Nandan|            49|
|      RJ Tucker|            41|
|    Nitin Menon|            37|
|   BNJ Oxenford|            32|
|    VA Kulkarni|            31|
|   AK Chaudhary|            31|
|      RB Tiffin|            30|
|    SK Tarapore|            26|
|      M Erasmus|            25|
|      AM Saheba|            23|
|    RE Koertzen|            21|
|      VK Sharma|            20|
|     PR Reiffel|            19|
| RK Illingworth|            18|
|      DJ Harper|            18|
|       NJ Llong|            16|
|HDPK Dharmasena|            16|
+---------------+--------------+
only showing top 20 rows

In [114]:
spark.sql(
"""
select m.match_id,first(v.venue),first(v.city),sum(b.batsman_runs) from ipl_ball_by_ball as b
inner join ipl_matches as m on b.match_id=m.match_id
inner join ipl_venue as v on m.venue_id = v.venue_id
where b.batsman= 'V Kohli'
group by m.match_id
order by sum(b.batsman_runs) desc limit 1; 
""").show()

# so here you can see the answer

+--------+--------------------+-----------+-----------------+
|match_id|        first(venue)|first(city)|sum(batsman_runs)|
+--------+--------------------+-----------+-----------------+
|  980999|M.Chinnaswamy Sta...|  Bengaluru|            113.0|
+--------+--------------------+-----------+-----------------+

In [120]:
#session 3


!pip install pymysql
import pymysql

Requirement already satisfied: pymysql in c:\users\91932\anaconda3\lib\site-packages (1.0.2)

In [121]:
conn=pymysql.connect(host='127.0.0.1', user='root', password='19062001', database='class')

In [122]:
cur=conn.cursor()

In [137]:
cur.execute("show tables")
cur.fetchall()

(('ipl_matches',),
 ('ipll_ball_by_all',),
 ('ipll_ball_by_ball',),
 ('ipls_ball_by_all',),
 ('ips_ball_by_all',))

In [135]:
cur.execute("select * from ipl_matches")
cur.fetchone()

# so here as you can see we simly import dataset in database

(335982,
 datetime.datetime(2008, 4, 18, 0, 0),
 'BB McCullum',
 35,
 0,
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'field',
 'Kolkata Knight Riders',
 'runs',
 140,
 'N',
 'NA',
 'Asad Rauf',
 'RE Koertzen')